        <button class="gallery-item" data-images="img/omnie/pracownia-w-siedlcu.jpg" data-title="Pracownia w Siedlcu" data-meta="Pracownia">
          <img class="gallery-item__img" src="img/omnie/pracownia-w-siedlcu.jpg" alt="Pracownia w Siedlcu" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Pracownia w Siedlcu</span><span class="gallery-item__meta">Pracownia</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/omnie/zdj-do-tlo-kontakt.jpg" data-title="Zdj do tlo kontakt" data-meta="Pracownia">
          <img class="gallery-item__img" src="img/omnie/zdj-do-tlo-kontakt.jpg" alt="Zdj do tlo kontakt" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Zdj do tlo kontakt</span><span class="gallery-item__meta">Pracownia</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/omnie/zofia-siek-mlicka.jpg" data-title="Zofia Siek-Mlicka" data-meta="Pracownia">
          <img class="gallery-item__img" src="img/omnie/zofia-siek-mlicka.jpg" alt="Zofia Siek-Mlicka" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Zofia Siek-Mlicka</span><span class="gallery-item__meta">Pracownia</span></span>
          
        </button>