        <button class="gallery-item" data-images="img/realizacje/czerwona-parasolka-jozef-mehoffer.jpg" data-title="Czerwona parasolka Józef Mehoffer" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/czerwona-parasolka-jozef-mehoffer.jpg" alt="Czerwona parasolka Józef Mehoffer" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Czerwona parasolka Józef Mehoffer</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/dama-z-lasiczka-leonardo-da-vinci.jpg" data-title="Dama z Łasiczką, Leonardo da Vinci" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/dama-z-lasiczka-leonardo-da-vinci.jpg" alt="Dama z Łasiczką, Leonardo da Vinci" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Dama z Łasiczką, Leonardo da Vinci</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/dziewczyna-z-perla.jpg" data-title="Dziewczyna z Perla" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/dziewczyna-z-perla.jpg" alt="Dziewczyna z Perla" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Dziewczyna z Perla</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/dziwny-ogrod-jozef-mehoffer.jpg" data-title="Dziwny ogród, Józef Mehoffer" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/dziwny-ogrod-jozef-mehoffer.jpg" alt="Dziwny ogród, Józef Mehoffer" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Dziwny ogród, Józef Mehoffer</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/gwiazdzista-noc-vincenta-van-gogh.jpg" data-title="Gwiaździsta noc Vincenta van Gogh" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/gwiazdzista-noc-vincenta-van-gogh.jpg" alt="Gwiaździsta noc Vincenta van Gogh" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Gwiaździsta noc Vincenta van Gogh</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/krzyk-edward-munch.jpg" data-title="Krzyk, Edward Munch" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/krzyk-edward-munch.jpg" alt="Krzyk, Edward Munch" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Krzyk, Edward Munch</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/matka-boska-wspomozenia-wiernych-cranach.jpg" data-title="Matka Boska Wspomozenia Wiernych Cranach" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/matka-boska-wspomozenia-wiernych-cranach.jpg" alt="Matka Boska Wspomozenia Wiernych Cranach" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Matka Boska Wspomozenia Wiernych Cranach</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/pasja-turynska-hans-memling.jpg" data-title="Pasja Turyńska Hans Memling" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/pasja-turynska-hans-memling.jpg" alt="Pasja Turyńska Hans Memling" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Pasja Turyńska Hans Memling</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/paysage-de-juan-les-pins-pablo-picasso.jpg" data-title="Paysage de Juan-les-Pins Pablo Picasso" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/paysage-de-juan-les-pins-pablo-picasso.jpg" alt="Paysage de Juan-les-Pins Pablo Picasso" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Paysage de Juan-les-Pins Pablo Picasso</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/pocalunek-gustav-klimt.jpg" data-title="Pocałunek Gustav Klimt" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/pocalunek-gustav-klimt.jpg" alt="Pocałunek Gustav Klimt" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Pocałunek Gustav Klimt</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/portret-malzonkow-arnolfinich-jan-van-eyck.jpg" data-title="Portret małżonków Arnolfinich Jan van Eyck" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/portret-malzonkow-arnolfinich-jan-van-eyck.jpg" alt="Portret małżonków Arnolfinich Jan van Eyck" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Portret małżonków Arnolfinich Jan van Eyck</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>
        <button class="gallery-item" data-images="img/realizacje/szal-uniesien-wladyslaw-podkowinski.jpg" data-title="Szał uniesień Władysław Podkowiński" data-meta="Wybrana realizacja">
          <img class="gallery-item__img" src="img/realizacje/szal-uniesien-wladyslaw-podkowinski.jpg" alt="Szał uniesień Władysław Podkowiński" loading="lazy">
          <span class="gallery-item__info"><span class="gallery-item__title">Szał uniesień Władysław Podkowiński</span><span class="gallery-item__meta">Wybrana realizacja</span></span>
          
        </button>